.cards {
  margin-top: 90px;
  //.cards__container
  &__container {
  }

  //.cards__body
  &__body {
    //margin-left: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1249.98px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  //.cards__item
  &__item {
  }
}

.card {
  cursor: pointer;
  width: 300px;
  height: 413px;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  background: linear-gradient(180deg, rgba(9, 46, 98, 0.30) 0%, rgba(65, 124, 209, 0.30) 100%), #1E5AAF;
  box-shadow: 0 0 10px 0 rgba(6, 31, 67, 0.30);
  z-index: 10;
  @media (max-width: 1249.98px) {
    margin-bottom: 20px;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 30px;
    right: 40px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
  }
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(180deg, rgba(9, 46, 98, 0.80) 0%, rgba(65, 124, 209, 0.80) 100%), #1E5AAF;
    transition: opacity 0.4s ease-in-out;
    z-index: -10;
  }
  &:hover::before{
opacity: 1;
  }

  //.card__title
  &__title {
    width: 175px;
    color: #FFF;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 20px;
  }

  //.card__text
  &__text {
    color: rgba(253, 253, 253, 0.50);
    font-size: 14px;
    line-height: 140%;
  }
}