.description {
  margin-top: 120px;
  //.description__container
  &__container {
  }

  //.description__body
  &__body {
    //margin-left: 40px;
  }
}

.description-block {
  max-width: 646px;
  //.description-block__title
  &__title {
    color: #1E5AAF;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 40px;
  }

  //.description-block__text
  &__text {
    padding-bottom: 30px;
    color: #797A84;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
  }
}