@font-face{
	font-family: GraphikLCWeb;
	font-display: swap;
	src:  url("../fonts/GraphikLCWeb-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: GraphikLCWeb;
	font-display: swap;
	src: url("../fonts/GraphikLCWeb-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: GraphikLCWeb;
	font-display: swap;
	src:  url("../fonts/GraphikLCWeb-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
