.footer {
margin-top:120px;
	background: #051A2C;
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body{
		padding: 47px 50px 44px 51px;
	}

	// .footer__write
	&__title {
		color: #FDFDFD;
		font-size: 24px;
		line-height: 120%;
		padding-bottom: 50px;
	}

	// .footer__copyright
	&__copyright {

		a{
			color: #8C8D98;
			font-size: 16px;
			&:nth-child(1){
				margin-right:80px;
			}
			&:nth-child(2){
				margin-right:40px;
			}
			&:nth-child(4){
			float: right;
			}
		}
		@media (max-width: 1247.98px) {
			display: flex;
			justify-content: space-between;
			a{
				font-size: 12px;
				margin-right:0;
			}
		}
		@media (max-width: 768.98px) {
			flex-direction: column;
			a{margin-bottom: 10px}
		}
	}
}


