.header {
  z-index: 12;
  position: fixed;
  width: 100%;
  background: transparent;
  transition: background 0.2s linear;
  &__container {
    height: 100px;
    display: flex;
    align-items: center;
  }

  // .header__logo
  &__logo {
    display: flex;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;

      path {
        fill: #FDFDFD;
      }
    }

    span {
      white-space: nowrap;
      padding-left: 10px;
      font-weight: 700;
      font-size: 24px;
      color: #FDFDFD;
    }

    @media (max-width: 768.98px) {
      margin-left: 30px;
    }
    @media (max-width: 375.98px) {
      margin-left: 14px;
    }
  }

  // .header__menu
  &__menu {
  }
}

.menu {
  width: 100%;
  margin-left: 78px;
  @media (max-width: 1279.98px) {
    margin-left: 24px;
  }
  // .menu__body
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024.98px) {
      background-color: #051a2c;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: fixed;
      padding-left: 30px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      &._active {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (max-width: 768.98px) {
      padding-left: 80px;
    }
    @media (max-width: 375.98px) {
      padding-left: 24px;
    }

  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 1024.98px) {
      margin-top: 90px;
      flex-direction: column;
    }
    @media (max-width: 375.98px) {
      padding: 96px 0;
    }

    li {
      margin: 0 20px 0 0;
      @media (max-width: 1279.98px) {
        margin-left: 10px;
      }
    }
  }

  // .menu__item
  &__item {
    @media (max-width: 1024.98px) {
      padding-bottom: 30px;
    }

    &:last-child {
      margin-top: 4px;
    }
  }

  // .menu__link
  &__link {
    cursor: pointer;
    color: #FDFDFD;
    font-size: 18px;
    font-weight: 400;
    @media (max-width: 1024.98px) {
      font-size: 24px;
    }
  }

  // .menu__buttons
  &__buttons {
    margin-right: 40px;
    @media (max-width: 1024.98px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__button {
    font-size: 18px;
    font-weight: 400;
    border-radius: 25px;
    padding: 14px 20px;
    @media (max-width: 1024.98px) {
      margin-bottom: 20px;
    }

    &:nth-child(1) {
      background: transparent;
      border: 2px solid #DF0050;
      color: white;
    }

    &:nth-child(2) {
      margin-left: 15px;
      background: #FDFDFD;
      color: #49301D;
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: 1024.98px) {
    display: block;
    position: absolute;
    top: 34px;
    right: 40px;
    width: 32px;
    height: 8px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
  @media (max-width: 375.98px) {
    right: 24px;
  }
}

//============стили header при скролле=========================
.scrolled {
  background: #FDFDFD;

  .header__logo {
    svg {
      path {
        fill: #1E5AAF;
      }
    }

    span {
      color: #1E5AAF;
    }
  }

  .menu__item {
    &:last-child {
      svg {
        path {
          stroke: #252627;
        }
      }
    }

    &:nth-child(-n+3) {
      span {
        &:after {
          border-color: #252627;;
        }
      }
    }

    a, span {
      color: #252627;
    }
  }

  .menu__button {
    &:nth-child(1) {
      background: transparent;
      color: #DF0050;
    }

    &:nth-child(2) {
      margin-left: 15px;
      background: #0F57BE;
      color: #FDFDFD;
    }
  }

  .icon-menu {
    span {
      background: #0F57BE
    }
  }

  .menu__body {
    @media (max-width: 1024.98px) {
      background: #FDFDFD;
    }
  }
  .dropdown-menu__link{
    color: #1D233F;
  }
}

//==============стили для дд-меню==============
.ddmenu {
  &:after {
    content: '';
    border: solid #FDFDFD;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-bottom: 3px;
    transition: transform 0.4s;
  }
}


.dropdown-menu {
  width: 100%;
  position: absolute;
  background: white;
  left: 0;
  top: -500px;
  padding: 50px 0;
  transition: top .4s;
  @media (max-width: 1024.98px) {
    color: white;
    background: none;
    padding: 15px 0;
    position: relative;
    top: 0;
    display: none;
  }
  //.dropdown-menu__list
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    @media (max-width: 1024.98px){
      display: flex;
      flex-direction: column;
    }
  }

  //.dropdown-menu__item
  &__item {
    @media (max-width: 1024.98px){
      padding-bottom: 20px;
    }
  }

  //.dropdown-menu__link
  &__link {
    color: #252627;
    font-size: 18px;
    @media (max-width: 1024.98px){
      font-size: 22px;
      color: white;
    }
  }
}

.ddmenu.open {
  &:after {
    transform: rotate(225deg);
  }
}

.open ~ .dropdown-menu {
  top: 100px;
  @media (max-width: 1024.98px){
    top: 0;
    display: block;
  }
}
